In [171]:
import numpy as np
from src.ml.data.data_loader import load_raw_data
import pandas as pd

In [172]:
raw_data_path = '/Users/aya/Desktop/ML/insurance-recommender/data/raw/user_data.csv'

raw_data = load_raw_data(raw_data_path)
processed_data = raw_data
processed_data.tail()

,_id,fullname,age,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles,timestamp
82,65aadc741d099129aa714f80,mohammed cluster,NaN,NaN,CEO,NaN,car,NaN,NaN,NaN,5,services diverts,20.0,2024-01-19T20:32:52.199Z
83,65aadc851d099129aa714f81,mohammed cluster,NaN,NaN,CEO,NaN,car,NaN,NaN,NaN,5,centre d'appel,20.0,2024-01-19T20:33:09.852Z
84,65aadc911d099129aa714f82,mohammed cluster,NaN,NaN,CEO,NaN,car,NaN,NaN,NaN,5,centre d'appel,21.0,2024-01-19T20:33:21.759Z
85,65aadca61d099129aa714f83,mohammed cluster,NaN,NaN,CEO,NaN,car,NaN,NaN,NaN,5,Port,18.0,2024-01-19T20:33:42.110Z
86,65aadcbb1d099129aa714f84,mohammed cluster,NaN,NaN,CEO,NaN,car,NaN,NaN,NaN,5,Digital services,18.0,2024-01-19T20:34:03.583Z

In [173]:
processed_data["vehicle_year"].fillna(value=0, inplace=True)
processed_data["number_insured_vehicles"].fillna(value=0, inplace=True)
processed_data["age"].fillna(value=0, inplace=True)
processed_data.fillna(value='unknown', inplace=True)

# dropping these cols because we do not need it at this stage of code
processed_data = processed_data.drop(['timestamp','fullname'], axis=1)
processed_data.tail()

,_id,age,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles
82,65aadc741d099129aa714f80,0.0,unknown,CEO,unknown,car,unknown,unknown,0.0,5,services diverts,20.0
83,65aadc851d099129aa714f81,0.0,unknown,CEO,unknown,car,unknown,unknown,0.0,5,centre d'appel,20.0
84,65aadc911d099129aa714f82,0.0,unknown,CEO,unknown,car,unknown,unknown,0.0,5,centre d'appel,21.0
85,65aadca61d099129aa714f83,0.0,unknown,CEO,unknown,car,unknown,unknown,0.0,5,Port,18.0
86,65aadcbb1d099129aa714f84,0.0,unknown,CEO,unknown,car,unknown,unknown,0.0,5,Digital services,18.0

In [174]:
# range
economic_cars = ['dacia', 'renault', 'fiat', 'peugeot', 'ford', 'honda', 'hyundai', 'kia', 'nissan', 'subaru', 'toyota', 'volkswagen','cappuccino']
midrange_cars = ['audi', 'bmw', 'mazda', 'mercedes', 'volvo','Nissan']
luxury_cars = ['aston martin', 'bentley', 'ferrari', 'lamborghini', 'porsche', 'rolls-royce','tesla']

# category
hybrid_cars =['Prius', 'Insight','Fusion Hybrid', 'Volt','RX Hybrid','Camry Hybrid','Ioniq Hybrid','Niro','i3','3','chr']
electric_cars =['s', 'X', 'Y', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron']
diesel_cars =['500', 'logan', 'rs q4', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron','50cc','lodge']

# state
vehicle_state=['vetuste','recent']

processed_data.loc[processed_data['vehicle_make'].isin(economic_cars), 'vehicle_range'] = 'Economic'
processed_data.loc[processed_data['vehicle_make'].isin(midrange_cars), 'vehicle_range'] = 'Midrange'
processed_data.loc[processed_data['vehicle_make'].isin(luxury_cars), 'vehicle_range'] = 'Luxury'
processed_data.loc[processed_data['vehicle_make'].isin(['unknown']), 'vehicle_range'] = 'unknown'

processed_data.loc[processed_data['vehicle_model'].isin(hybrid_cars), 'vehicle_category'] = 'Hybrid'
processed_data.loc[processed_data['vehicle_model'].isin(electric_cars), 'vehicle_category'] = 'Electric'
processed_data.loc[processed_data['vehicle_model'].isin(diesel_cars), 'vehicle_category'] = 'Diesel'
processed_data.loc[processed_data['vehicle_model'].isin(['unknown']), 'vehicle_category'] = 'unknown'

processed_data['vehicle_state'] = pd.cut(
    processed_data['vehicle_year'],
    bins=[1886, 2019, float('inf')],
    labels=['Vetuste', 'Recent']
)
processed_data = processed_data.drop(['vehicle_make','vehicle_model','vehicle_year'], axis=1)

processed_data.tail()

,_id,age,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,vehicle_range,vehicle_category,vehicle_state
82,65aadc741d099129aa714f80,0.0,unknown,CEO,unknown,car,5,services diverts,20.0,unknown,unknown,NaN
83,65aadc851d099129aa714f81,0.0,unknown,CEO,unknown,car,5,centre d'appel,20.0,unknown,unknown,NaN
84,65aadc911d099129aa714f82,0.0,unknown,CEO,unknown,car,5,centre d'appel,21.0,unknown,unknown,NaN
85,65aadca61d099129aa714f83,0.0,unknown,CEO,unknown,car,5,Port,18.0,unknown,unknown,NaN
86,65aadcbb1d099129aa714f84,0.0,unknown,CEO,unknown,car,5,Digital services,18.0,unknown,unknown,NaN

In [175]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder2 = preprocessing.LabelEncoder()

processed_data['occupation']= label_encoder.fit_transform(processed_data['occupation'])
processed_data['occupation'].unique()
processed_data['parent']= processed_data['parent'].map({True:1, False:0, 'unknown':2})

processed_data['www']= processed_data['www'].map({True:1, False:0, 'unknown':2})
processed_data['vehicle_type']= processed_data['vehicle_type'].map({'motorcycle':1, 'car':2,'truck':3, 'bus':4, 'boat':5, 'unknown':0})
processed_data['vehicle_range']= processed_data['vehicle_range'].map({'Economic':1, 'Midrange':2,'Luxury':3, 'unknown':0})
processed_data['vehicle_category']= processed_data['vehicle_category'].map({'Diesel':1, 'Electric':2,'Hybrid':3, 'unknown':0})
processed_data['vehicle_state']= processed_data['vehicle_state'].map({'Vetuste':1, 'Recent':2, np.NAN:0})

processed_data['business_field']= label_encoder2.fit_transform(processed_data['business_field'])
processed_data['business_field'].unique()

import joblib
# saving my processor will maintain the same labels used during the preprocessing phase of my actual dataset, 
# so I can use it with new datapoints without worrying about processing phase giving new labels for same values and getting falsified results 
joblib.dump(label_encoder, "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/label_encoder.joblib")
joblib.dump(label_encoder2, "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/label_encoder2.joblib")
processed_data

,_id,age,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,vehicle_range,vehicle_category,vehicle_state
0,65a713cc1dfebcf6ca173f0d,20.0,0,5,1,2,5,8,0.0,2,1,2
1,65a714291dfebcf6ca173f0e,56.0,1,7,1,2,5,8,0.0,1,1,2
2,65a714641dfebcf6ca173f0f,19.0,0,5,1,1,2,8,0.0,1,1,1
3,65a71f2e1dfebcf6ca173f12,60.0,2,6,2,2,3,5,1.0,1,1,0
4,65a723fd1dfebcf6ca173f15,49.0,1,3,1,2,5,8,0.0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
82,65aadc741d099129aa714f80,0.0,2,0,2,2,5,7,20.0,0,0,0
83,65aadc851d099129aa714f81,0.0,2,0,2,2,5,6,20.0,0,0,0
84,65aadc911d099129aa714f82,0.0,2,0,2,2,5,6,21.0,0,0,0
85,65aadca61d099129aa714f83,0.0,2,0,2,2,5,3,18.0,0,0,0
86,65aadcbb1d099129aa714f84,0.0,2,0,2,2,5,0,18.0,0,0,0

In [176]:
from sklearn.preprocessing import StandardScaler
from joblib import dump

numeric_columns = ['age', 'parent', 'occupation', 'www', 'vehicle_type', 'number_seats',
                       'business_field', 'number_insured_vehicles', 'vehicle_range', 'vehicle_category',
                       'vehicle_state']

selected_columns = processed_data[numeric_columns]

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(selected_columns)

# Create a DataFrame with the scaled data
scaled_df = pd.DataFrame(data=scaled_data, columns=numeric_columns)

# Replace the original numeric columns with the scaled ones
processed_data[numeric_columns] = scaled_df
print(processed_data)

scaler_filename = "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/scaler.joblib"
dump(scaler, scaler_filename)

                         _id       age    parent  occupation      www  \
0   65a713cc1dfebcf6ca173f0d -0.110015 -1.309233    0.772855 -0.47231
1   65a714291dfebcf6ca173f0e  1.554566 -0.170200    1.515821 -0.47231
2   65a714641dfebcf6ca173f0f -0.156254 -1.309233    0.772855 -0.47231
3   65a71f2e1dfebcf6ca173f12  1.739519  0.968832    1.144338  0.94462
4   65a723fd1dfebcf6ca173f15  1.230897 -0.170200    0.029889 -0.47231
..                       ...       ...       ...         ...      ...
82  65aadc741d099129aa714f80 -1.034783  0.968832   -1.084559  0.94462
83  65aadc851d099129aa714f81 -1.034783  0.968832   -1.084559  0.94462
84  65aadc911d099129aa714f82 -1.034783  0.968832   -1.084559  0.94462
85  65aadca61d099129aa714f83 -1.034783  0.968832   -1.084559  0.94462
86  65aadcbb1d099129aa714f84 -1.034783  0.968832   -1.084559  0.94462

    vehicle_type  number_seats  business_field  number_insured_vehicles  \
0      -0.283013     -0.251499        0.798898                -0.662475
1      -0.283013     -0.251499        0.798898                -0.662475
2      -1.514117     -0.776630        0.798898                -0.662475
3      -0.283013     -0.601587       -0.537720                -0.527498
4      -0.283013     -0.251499        0.798898                -0.662475
..           ...           ...             ...                      ...
82     -0.283013     -0.251499        0.353359                 2.037072
83     -0.283013     -0.251499       -0.092181                 2.037072
84     -0.283013     -0.251499       -0.092181                 2.172049
85     -0.283013     -0.251499       -1.428798                 1.767117
86     -0.283013     -0.251499       -2.765415                 1.767117

    vehicle_range  vehicle_category  vehicle_state
0        1.384205          0.219529       1.105979
1        0.203559          0.219529       1.105979
2        0.203559          0.219529       0.048614
3        0.203559          0.219529      -1.008750
4        0.203559          0.219529       1.105979
..            ...               ...            ...
82      -0.977086         -0.974158      -1.008750
83      -0.977086         -0.974158      -1.008750
84      -0.977086         -0.974158      -1.008750
85      -0.977086         -0.974158      -1.008750
86      -0.977086         -0.974158      -1.008750

[87 rows x 12 columns]

['/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/scaler.joblib']

In [177]:
from sklearn.decomposition import PCA
import pandas as pd

# Assuming processed_data is your DataFrame
selected_columns = processed_data[numeric_columns]

# Instantiate PCA with 3 components
pca = PCA(n_components=3)

# Fit and transform the selected columns
pca_data = pca.fit_transform(selected_columns)

# Create new DataFrame with PCA components
pca_df = pd.DataFrame(data=pca_data, columns=['PCA1', 'PCA2', 'PCA3'])

# Concatenate the original DataFrame excluding numeric_columns with the PCA DataFrame
processed_data = pd.concat([processed_data.drop(columns=numeric_columns), pca_df], axis=1)

# Display the updated DataFrame
processed_data

scaler_filename = "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/pca_transformer.joblib"
dump(pca, scaler_filename)

['/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/pca_transformer.joblib']

In [178]:
processed_data.to_csv('/Users/aya/Desktop/ML/insurance-recommender/data/processed/processed_user_data.csv', index=False)