In [42]:
import numpy as np
from src.ml.data.data_loader import load_raw_data
import pandas as pd

In [43]:
raw_data_path = '/Users/aya/Desktop/ML/insurance-recommender/data/raw/user_data.csv'

raw_data = load_raw_data(raw_data_path)
processed_data = raw_data

processed_data

,_id,fullname,age,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles,timestamp
0,65a713cc1dfebcf6ca173f0d,Aya Hamza,20,False,student,True,car,audi,rs q4,2020.0,5,NaN,NaN,2024-01-16T23:39:56.689Z
1,65a714291dfebcf6ca173f0e,Hicham Hamza,56,True,teacher,True,car,dacia,logan,2021.0,5,NaN,NaN,2024-01-16T23:41:29.796Z
2,65a714641dfebcf6ca173f0f,Kamilia Hamza,19,False,student,True,motorcycle,cappuccino,50cc,2019.0,2,NaN,NaN,2024-01-16T23:42:28.869Z
3,65a71c7f1dfebcf6ca173f11,Mohammed El Bakkali El Ammari,25,NaN,CEO,NaN,car,NaN,NaN,NaN,5,IT services,20.0,2024-01-17T00:17:03.091Z
4,65a71f2e1dfebcf6ca173f12,Mokhtar Hamza,60,NaN,taxi owner,NaN,car,dacia,logan,NaN,3,Transport publique de voyageurs,1.0,2024-01-17T00:28:30.752Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,65a9c22902478feb98fc38ff,ihsan cluster,35,True,architect,True,car,toyota,chr,2021.0,5,NaN,NaN,2024-01-19T00:28:25.420Z
57,65a9c22d02478feb98fc3900,ihsan cluster,35,True,doctor,True,car,toyota,chr,2021.0,5,NaN,NaN,2024-01-19T00:28:29.532Z
58,65a9c23902478feb98fc3901,ihsan cluster,35,True,doctor,True,car,toyota,chr,2020.0,5,NaN,NaN,2024-01-19T00:28:40.999Z
59,65a9c24302478feb98fc3902,ihsan cluster,35,True,doctor,False,car,toyota,chr,2020.0,5,NaN,NaN,2024-01-19T00:28:51.502Z
60,65a9c24b02478feb98fc3903,ihsan cluster,35,False,doctor,True,car,toyota,chr,2020.0,5,NaN,NaN,2024-01-19T00:28:59.438Z

In [44]:
processed_data["vehicle_year"].fillna(value=0, inplace=True)
processed_data["number_insured_vehicles"].fillna(value=0, inplace=True)
processed_data.fillna(value='unknown', inplace=True)

# dropping these cols because we do not need it at this stage of code
processed_data = processed_data.drop(['timestamp','fullname'], axis=1)

processed_data

,_id,age,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles
0,65a713cc1dfebcf6ca173f0d,20,False,student,True,car,audi,rs q4,2020.0,5,unknown,0.0
1,65a714291dfebcf6ca173f0e,56,True,teacher,True,car,dacia,logan,2021.0,5,unknown,0.0
2,65a714641dfebcf6ca173f0f,19,False,student,True,motorcycle,cappuccino,50cc,2019.0,2,unknown,0.0
3,65a71c7f1dfebcf6ca173f11,25,unknown,CEO,unknown,car,unknown,unknown,0.0,5,IT services,20.0
4,65a71f2e1dfebcf6ca173f12,60,unknown,taxi owner,unknown,car,dacia,logan,0.0,3,Transport publique de voyageurs,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,65a9c22902478feb98fc38ff,35,True,architect,True,car,toyota,chr,2021.0,5,unknown,0.0
57,65a9c22d02478feb98fc3900,35,True,doctor,True,car,toyota,chr,2021.0,5,unknown,0.0
58,65a9c23902478feb98fc3901,35,True,doctor,True,car,toyota,chr,2020.0,5,unknown,0.0
59,65a9c24302478feb98fc3902,35,True,doctor,False,car,toyota,chr,2020.0,5,unknown,0.0
60,65a9c24b02478feb98fc3903,35,False,doctor,True,car,toyota,chr,2020.0,5,unknown,0.0

In [45]:
# range
economic_cars = ['dacia', 'renault', 'fiat', 'peugeot', 'ford', 'honda', 'hyundai', 'kia', 'nissan', 'subaru', 'toyota', 'volkswagen','cappuccino']
midrange_cars = ['audi', 'bmw', 'mazda', 'mercedes', 'volvo','Nissan']
luxury_cars = ['aston martin', 'bentley', 'ferrari', 'lamborghini', 'porsche', 'rolls-royce','tesla']

# category
hybrid_cars =['Prius', 'Insight','Fusion Hybrid', 'Volt','RX Hybrid','Camry Hybrid','Ioniq Hybrid','Niro','i3','3','chr']
electric_cars =['s', 'X', 'Y', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron']
diesel_cars =['500', 'logan', 'rs q4', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron','50cc','lodge']

# state
vehicle_state=['vetuste','recent']

processed_data.loc[processed_data['vehicle_make'].isin(economic_cars), 'vehicle_range'] = 'Economic'
processed_data.loc[processed_data['vehicle_make'].isin(midrange_cars), 'vehicle_range'] = 'Midrange'
processed_data.loc[processed_data['vehicle_make'].isin(luxury_cars), 'vehicle_range'] = 'Luxury'
processed_data.loc[processed_data['vehicle_make'].isin(['unknown']), 'vehicle_range'] = 'unknown'

processed_data.loc[processed_data['vehicle_model'].isin(hybrid_cars), 'vehicle_category'] = 'Hybrid'
processed_data.loc[processed_data['vehicle_model'].isin(electric_cars), 'vehicle_category'] = 'Electric'
processed_data.loc[processed_data['vehicle_model'].isin(diesel_cars), 'vehicle_category'] = 'Diesel'
processed_data.loc[processed_data['vehicle_model'].isin(['unknown']), 'vehicle_category'] = 'unknown'

processed_data['vehicle_state'] = pd.cut(
    processed_data['vehicle_year'],
    bins=[1886, 2019, float('inf')],
    labels=['Vetuste', 'Recent']
)
processed_data = processed_data.drop(['vehicle_make','vehicle_model','vehicle_year'], axis=1)

processed_data

,_id,age,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,vehicle_range,vehicle_category,vehicle_state
0,65a713cc1dfebcf6ca173f0d,20,False,student,True,car,5,unknown,0.0,Midrange,Diesel,Recent
1,65a714291dfebcf6ca173f0e,56,True,teacher,True,car,5,unknown,0.0,Economic,Diesel,Recent
2,65a714641dfebcf6ca173f0f,19,False,student,True,motorcycle,2,unknown,0.0,Economic,Diesel,Vetuste
3,65a71c7f1dfebcf6ca173f11,25,unknown,CEO,unknown,car,5,IT services,20.0,unknown,unknown,NaN
4,65a71f2e1dfebcf6ca173f12,60,unknown,taxi owner,unknown,car,3,Transport publique de voyageurs,1.0,Economic,Diesel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
56,65a9c22902478feb98fc38ff,35,True,architect,True,car,5,unknown,0.0,Economic,Hybrid,Recent
57,65a9c22d02478feb98fc3900,35,True,doctor,True,car,5,unknown,0.0,Economic,Hybrid,Recent
58,65a9c23902478feb98fc3901,35,True,doctor,True,car,5,unknown,0.0,Economic,Hybrid,Recent
59,65a9c24302478feb98fc3902,35,True,doctor,False,car,5,unknown,0.0,Economic,Hybrid,Recent
60,65a9c24b02478feb98fc3903,35,False,doctor,True,car,5,unknown,0.0,Economic,Hybrid,Recent

In [37]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

processed_data['occupation']= label_encoder.fit_transform(processed_data['occupation'])
processed_data['occupation'].unique()
processed_data['parent']= processed_data['parent'].map({True:1, False:0, 'unknown':2})

processed_data['www']= processed_data['www'].map({True:1, False:0, 'unknown':2})
processed_data['vehicle_type']= processed_data['vehicle_type'].map({'motorcycle':1, 'car':2,'truck':3, 'bus':4, 'boat':5, 'unknown':0})
processed_data['vehicle_range']= processed_data['vehicle_range'].map({'Economic':1, 'Midrange':2,'Luxury':3, 'unknown':0})
processed_data['vehicle_category']= processed_data['vehicle_category'].map({'Diesel':1, 'Electric':2,'Hybrid':3, 'unknown':0})
processed_data['vehicle_state']= processed_data['vehicle_state'].map({'Vetuste':1, 'Recent':2, np.NAN:0})

processed_data['business_field']= label_encoder.fit_transform(processed_data['business_field'])
processed_data['business_field'].unique()

processed_data

,_id,age,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,vehicle_range,vehicle_category,vehicle_state
0,65a713cc1dfebcf6ca173f0d,20,0,5,1,2,5,5,0.0,2,1,2
1,65a714291dfebcf6ca173f0e,56,1,7,1,2,5,5,0.0,1,1,2
2,65a714641dfebcf6ca173f0f,19,0,5,1,1,2,5,0.0,1,1,1
3,65a71c7f1dfebcf6ca173f11,25,2,0,2,2,5,0,20.0,0,0,0
4,65a71f2e1dfebcf6ca173f12,60,2,6,2,2,3,3,1.0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
56,65a9c22902478feb98fc38ff,35,1,1,1,2,5,5,0.0,1,3,2
57,65a9c22d02478feb98fc3900,35,1,2,1,2,5,5,0.0,1,3,2
58,65a9c23902478feb98fc3901,35,1,2,1,2,5,5,0.0,1,3,2
59,65a9c24302478feb98fc3902,35,1,2,0,2,5,5,0.0,1,3,2
60,65a9c24b02478feb98fc3903,35,0,2,1,2,5,5,0.0,1,3,2

In [41]:
from sklearn.preprocessing import StandardScaler

# Extract numeric data
selected_columns = processed_data.iloc[:, 1:13]

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(selected_columns)

processed_data.iloc[:, 1:13] = scaled_data
print(processed_data)

                         _id       age    parent  occupation       www  \
0   65a713cc1dfebcf6ca173f0d -1.458852 -1.171750    0.518911 -0.261460
1   65a714291dfebcf6ca173f0e  1.184415  0.019529    1.300481 -0.261460
2   65a714641dfebcf6ca173f0f -1.532277 -1.171750    0.518911 -0.261460
3   65a71c7f1dfebcf6ca173f11 -1.091732  1.210808   -1.435013  1.188457
4   65a71f2e1dfebcf6ca173f12  1.478111  1.210808    0.909696  1.188457
..                       ...       ...       ...         ...       ...
56  65a9c22902478feb98fc38ff -0.357491  0.019529   -1.044228 -0.261460
57  65a9c22d02478feb98fc3900 -0.357491  0.019529   -0.653444 -0.261460
58  65a9c23902478feb98fc3901 -0.357491  0.019529   -0.653444 -0.261460
59  65a9c24302478feb98fc3902 -0.357491  0.019529   -0.653444 -1.711378
60  65a9c24b02478feb98fc3903 -0.357491 -1.171750   -0.653444 -0.261460

    vehicle_type  number_seats  business_field  number_insured_vehicles  \
0      -0.323058     -0.206749        0.665205                -0.483150
1      -0.323058     -0.206749        0.665205                -0.483150
2      -1.730667     -0.780009        0.665205                -0.483150
3      -0.323058     -0.206749       -3.312981                 3.295334
4      -0.323058     -0.588922       -0.926069                -0.294226
..           ...           ...             ...                      ...
56     -0.323058     -0.206749        0.665205                -0.483150
57     -0.323058     -0.206749        0.665205                -0.483150
58     -0.323058     -0.206749        0.665205                -0.483150
59     -0.323058     -0.206749        0.665205                -0.483150
60     -0.323058     -0.206749        0.665205                -0.483150

    vehicle_range  vehicle_category  vehicle_state
0        1.073751         -0.077440       0.785495
1       -0.095871         -0.077440       0.785495
2       -0.095871         -0.077440      -0.279287
3       -1.265492         -1.258405      -1.344069
4       -0.095871         -0.077440      -1.344069
..            ...               ...            ...
56      -0.095871          2.284489       0.785495
57      -0.095871          2.284489       0.785495
58      -0.095871          2.284489       0.785495
59      -0.095871          2.284489       0.785495
60      -0.095871          2.284489       0.785495

[61 rows x 12 columns]

In [24]:
from sklearn.decomposition import PCA
import pandas as pd

numeric_columns = ['parent', 'age', 'occupation', 'www', 'vehicle_type', 'number_seats',
    'business_field', 'number_insured_vehicles', 'vehicle_range', 'vehicle_category', 'vehicle_state']

# Assuming processed_data is your DataFrame
selected_columns = processed_data[numeric_columns]

# Instantiate PCA with 3 components
pca = PCA(n_components=3)

# Fit and transform the selected columns
pca_data = pca.fit_transform(selected_columns)

# Create new DataFrame with PCA components
pca_df = pd.DataFrame(data=pca_data, columns=['PCA1', 'PCA2', 'PCA3'])

# Concatenate the original DataFrame excluding numeric_columns with the PCA DataFrame
processed_data = pd.concat([processed_data.drop(columns=numeric_columns), pca_df], axis=1)

# Display the updated DataFrame
processed_data

                         _id      PCA1      PCA2      PCA3
0   65a713cc1dfebcf6ca173f0d -2.003951  0.837818  0.418612
1   65a714291dfebcf6ca173f0e -0.947833 -1.410973 -1.196869
2   65a714641dfebcf6ca173f0f -1.814342 -0.072063  1.476559
3   65a71c7f1dfebcf6ca173f11  4.289241  0.801391  2.966492
4   65a71f2e1dfebcf6ca173f12  1.403473 -2.382741  0.245195
..                       ...       ...       ...       ...
56  65a9c22902478feb98fc38ff -1.315299  0.742847  0.181369
57  65a9c22d02478feb98fc3900 -1.410236  0.560812  0.086851
58  65a9c23902478feb98fc3901 -1.410236  0.560812  0.086851
59  65a9c24302478feb98fc3902 -1.911554  0.832506 -0.074323
60  65a9c24b02478feb98fc3903 -1.830869  0.814690  0.093465

[61 rows x 4 columns]

In [26]:
processed_data.to_csv('/Users/aya/Desktop/ML/insurance-recommender/data/processed/processed_user_data.csv', index=False)