In [20]:
import numpy as np
from src.ml.data.data_loader import load_raw_data
import pandas as pd

In [21]:
raw_data_path = '/Users/aya/Desktop/ML/insurance-recommender/data/raw/user_data.csv'

raw_data = load_raw_data(raw_data_path)
processed_data = raw_data
processed_data.tail()

,_id,fullname,age,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles,timestamp
83,65abf36abb5fc22fe3d2718f,Ihsan El Bakkali El Ammari,39.0,True,femme au foyer,False,car,toyota,chr,2021.0,5,NaN,NaN,2024-01-20T16:23:06.373Z
84,65abf36ebb5fc22fe3d27190,Ihsan El Bakkali El Ammari,40.0,True,femme au foyer,False,car,toyota,chr,2021.0,5,NaN,NaN,2024-01-20T16:23:10.663Z
85,65abf39ebb5fc22fe3d27191,Ihsan El Bakkali El Ammari,35.0,True,femme au foyer,False,car,toyota,chr,2021.0,6,NaN,NaN,2024-01-20T16:23:58.664Z
86,65abf3d8bb5fc22fe3d27192,aya cluster,19.0,False,student,True,car,audi,rs q4,2020.0,5,NaN,NaN,2024-01-20T16:24:56.702Z
87,65abf408bb5fc22fe3d27193,aya cluster,19.0,False,student,True,car,audi,rs q4,2020.0,5,NaN,NaN,2024-01-20T16:25:44.157Z

In [22]:
processed_data["vehicle_year"].fillna(value=0, inplace=True)
processed_data["number_insured_vehicles"].fillna(value=0, inplace=True)
processed_data["age"].fillna(value=0, inplace=True)
processed_data.fillna(value='unknown', inplace=True)

# dropping these cols because we do not need it at this stage of code
processed_data = processed_data.drop(['timestamp','fullname'], axis=1)
processed_data.tail()

/var/folders/75/jz3hh0b14k31vxtt1l8fc70m0000gn/T/ipykernel_7540/1793181656.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  processed_data["vehicle_year"].fillna(value=0, inplace=True)
/var/folders/75/jz3hh0b14k31vxtt1l8fc70m0000gn/T/ipykernel_7540/1793181656.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  processed_data["number_insured_vehicles"].fillna(value=0, inplace=True)
/var/folders/75/jz3hh0b14k31vxtt1l8fc70m0000gn/T/ipykernel_7540/1793181656.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  processed_data["age"].fillna(value=0, inplace=True)

,_id,age,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles
83,65abf36abb5fc22fe3d2718f,39.0,True,femme au foyer,False,car,toyota,chr,2021.0,5,unknown,0.0
84,65abf36ebb5fc22fe3d27190,40.0,True,femme au foyer,False,car,toyota,chr,2021.0,5,unknown,0.0
85,65abf39ebb5fc22fe3d27191,35.0,True,femme au foyer,False,car,toyota,chr,2021.0,6,unknown,0.0
86,65abf3d8bb5fc22fe3d27192,19.0,False,student,True,car,audi,rs q4,2020.0,5,unknown,0.0
87,65abf408bb5fc22fe3d27193,19.0,False,student,True,car,audi,rs q4,2020.0,5,unknown,0.0

In [23]:
# range
economic_cars = ['dacia', 'renault', 'fiat', 'peugeot', 'ford', 'honda', 'hyundai', 'kia', 'nissan', 'subaru', 'toyota', 'volkswagen','cappuccino']
midrange_cars = ['audi', 'bmw', 'mazda', 'mercedes', 'volvo','Nissan']
luxury_cars = ['aston martin', 'bentley', 'ferrari', 'lamborghini', 'porsche', 'rolls-royce','tesla']

# category
hybrid_cars =['Prius', 'Insight','Fusion Hybrid', 'Volt','RX Hybrid','Camry Hybrid','Ioniq Hybrid','Niro','i3','3','chr']
electric_cars =['s', 'X', 'Y', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron']
diesel_cars =['500', 'logan', 'rs q4', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron','50cc','lodge']

# state
vehicle_state=['vetuste','recent']

processed_data.loc[processed_data['vehicle_make'].isin(economic_cars), 'vehicle_range'] = 'Economic'
processed_data.loc[processed_data['vehicle_make'].isin(midrange_cars), 'vehicle_range'] = 'Midrange'
processed_data.loc[processed_data['vehicle_make'].isin(luxury_cars), 'vehicle_range'] = 'Luxury'
processed_data.loc[processed_data['vehicle_make'].isin(['unknown']), 'vehicle_range'] = 'unknown'

processed_data.loc[processed_data['vehicle_model'].isin(hybrid_cars), 'vehicle_category'] = 'Hybrid'
processed_data.loc[processed_data['vehicle_model'].isin(electric_cars), 'vehicle_category'] = 'Electric'
processed_data.loc[processed_data['vehicle_model'].isin(diesel_cars), 'vehicle_category'] = 'Diesel'
processed_data.loc[processed_data['vehicle_model'].isin(['unknown']), 'vehicle_category'] = 'unknown'

processed_data['vehicle_state'] = pd.cut(
    processed_data['vehicle_year'],
    bins=[1886, 2019, float('inf')],
    labels=['Vetuste', 'Recent']
)
processed_data = processed_data.drop(['vehicle_make','vehicle_model','vehicle_year'], axis=1)

processed_data.tail()

,_id,age,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,vehicle_range,vehicle_category,vehicle_state
83,65abf36abb5fc22fe3d2718f,39.0,True,femme au foyer,False,car,5,unknown,0.0,Economic,Hybrid,Recent
84,65abf36ebb5fc22fe3d27190,40.0,True,femme au foyer,False,car,5,unknown,0.0,Economic,Hybrid,Recent
85,65abf39ebb5fc22fe3d27191,35.0,True,femme au foyer,False,car,6,unknown,0.0,Economic,Hybrid,Recent
86,65abf3d8bb5fc22fe3d27192,19.0,False,student,True,car,5,unknown,0.0,Midrange,Diesel,Recent
87,65abf408bb5fc22fe3d27193,19.0,False,student,True,car,5,unknown,0.0,Midrange,Diesel,Recent

In [24]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder2 = preprocessing.LabelEncoder()

processed_data['occupation']= label_encoder.fit_transform(processed_data['occupation'])
processed_data['occupation'].unique()
processed_data['parent']= processed_data['parent'].map({True:1, False:0, 'unknown':2})

processed_data['www']= processed_data['www'].map({True:1, False:0, 'unknown':2})
processed_data['vehicle_type']= processed_data['vehicle_type'].map({'motorcycle':1, 'car':2,'truck':3, 'bus':4, 'boat':5, 'unknown':0})
processed_data['vehicle_range']= processed_data['vehicle_range'].map({'Economic':1, 'Midrange':2,'Luxury':3, 'unknown':0})
processed_data['vehicle_category']= processed_data['vehicle_category'].map({'Diesel':1, 'Electric':2,'Hybrid':3, 'unknown':0})
processed_data['vehicle_state']= processed_data['vehicle_state'].map({'Vetuste':1, 'Recent':2, np.NAN:0})

processed_data['business_field']= label_encoder2.fit_transform(processed_data['business_field'])
processed_data['business_field'].unique()

import joblib
# saving my processor will maintain the same labels used during the preprocessing phase of my actual dataset, 
# so I can use it with new datapoints without worrying about processing phase giving new labels for same values and getting falsified results 
joblib.dump(label_encoder, "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/label_encoder.joblib")
joblib.dump(label_encoder2, "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/label_encoder2.joblib")
processed_data

,_id,age,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,vehicle_range,vehicle_category,vehicle_state
0,65a713cc1dfebcf6ca173f0d,20.0,0,4,1,2,5,8,0.0,2,1,2
1,65a714291dfebcf6ca173f0e,56.0,1,6,1,2,5,8,0.0,1,1,2
2,65a714641dfebcf6ca173f0f,19.0,0,4,1,1,2,8,0.0,1,1,1
3,65a71f2e1dfebcf6ca173f12,60.0,2,5,2,2,3,5,1.0,1,1,0
4,65a723fd1dfebcf6ca173f15,49.0,1,1,1,2,5,8,0.0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
83,65abf36abb5fc22fe3d2718f,39.0,1,3,0,2,5,8,0.0,1,3,2
84,65abf36ebb5fc22fe3d27190,40.0,1,3,0,2,5,8,0.0,1,3,2
85,65abf39ebb5fc22fe3d27191,35.0,1,3,0,2,6,8,0.0,1,3,2
86,65abf3d8bb5fc22fe3d27192,19.0,0,4,1,2,5,8,0.0,2,1,2
87,65abf408bb5fc22fe3d27193,19.0,0,4,1,2,5,8,0.0,2,1,2

In [25]:
from sklearn.preprocessing import StandardScaler
from joblib import dump

numeric_columns = ['age', 'parent', 'occupation', 'www', 'vehicle_type', 'number_seats',
                       'business_field', 'number_insured_vehicles', 'vehicle_range', 'vehicle_category',
                       'vehicle_state']

selected_columns = processed_data[numeric_columns]

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(selected_columns)

# Create a DataFrame with the scaled data
scaled_df = pd.DataFrame(data=scaled_data, columns=numeric_columns)

# Replace the original numeric columns with the scaled ones
processed_data[numeric_columns] = scaled_df
print(processed_data)

scaler_filename = "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/scaler.joblib"
dump(scaler, scaler_filename)

                         _id       age    parent  occupation       www  \
0   65a713cc1dfebcf6ca173f0d -0.123654 -1.340713    0.711317 -0.356663
1   65a714291dfebcf6ca173f0e  1.536239 -0.184019    1.592950 -0.356663
2   65a714641dfebcf6ca173f0f -0.169762 -1.340713    0.711317 -0.356663
3   65a71f2e1dfebcf6ca173f12  1.720671  0.972674    1.152133  0.951101
4   65a723fd1dfebcf6ca173f15  1.213482 -0.184019   -0.611132 -0.356663
..                       ...       ...       ...         ...       ...
83  65abf36abb5fc22fe3d2718f  0.752401 -0.184019    0.270501 -1.664427
84  65abf36ebb5fc22fe3d27190  0.798509 -0.184019    0.270501 -1.664427
85  65abf39ebb5fc22fe3d27191  0.567968 -0.184019    0.270501 -1.664427
86  65abf3d8bb5fc22fe3d27192 -0.169762 -1.340713    0.711317 -0.356663
87  65abf408bb5fc22fe3d27193 -0.169762 -1.340713    0.711317 -0.356663

    vehicle_type  number_seats  business_field  number_insured_vehicles  \
0      -0.281272     -0.252058        0.791481                -0.657064
1      -0.281272     -0.252058        0.791481                -0.657064
2      -1.518869     -0.780181        0.791481                -0.657064
3      -0.281272     -0.604140       -0.547948                -0.521650
4      -0.281272     -0.252058        0.791481                -0.657064
..           ...           ...             ...                      ...
83     -0.281272     -0.252058        0.791481                -0.657064
84     -0.281272     -0.252058        0.791481                -0.657064
85     -0.281272     -0.076018        0.791481                -0.657064
86     -0.281272     -0.252058        0.791481                -0.657064
87     -0.281272     -0.252058        0.791481                -0.657064

    vehicle_range  vehicle_category  vehicle_state
0        1.442221          0.199187       1.092114
1        0.221880          0.199187       1.092114
2        0.221880          0.199187       0.036004
3        0.221880          0.199187      -1.020106
4        0.221880          0.199187       1.092114
..            ...               ...            ...
83       0.221880          2.536317       1.092114
84       0.221880          2.536317       1.092114
85       0.221880          2.536317       1.092114
86       1.442221          0.199187       1.092114
87       1.442221          0.199187       1.092114

[88 rows x 12 columns]

['/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/scaler.joblib']

In [26]:
from sklearn.decomposition import PCA
import pandas as pd

# Assuming processed_data is your DataFrame
selected_columns = processed_data[numeric_columns]

# Instantiate PCA with 3 components
pca = PCA(n_components=3)

# Fit and transform the selected columns
pca_data = pca.fit_transform(selected_columns)

# Create new DataFrame with PCA components
pca_df = pd.DataFrame(data=pca_data, columns=['PCA1', 'PCA2', 'PCA3'])

# Concatenate the original DataFrame excluding numeric_columns with the PCA DataFrame
processed_data = pd.concat([processed_data.drop(columns=numeric_columns), pca_df], axis=1)

scaler_filename = "/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/pca_transformer.joblib"
dump(pca, scaler_filename)

processed_data

['/Users/aya/Desktop/ML/insurance-recommender/src/ml/data/pca_transformer.joblib']

In [27]:
processed_data.to_csv('/Users/aya/Desktop/ML/insurance-recommender/data/processed/processed_user_data.csv', index=False)