In [319]:
import numpy as np
from src.ml.data.data_loader import load_raw_data
import pandas as pd

In [320]:
raw_data_path = '/Users/aya/Desktop/ML/insurance-recommender/data/raw/user_data.csv'

raw_data = load_raw_data(raw_data_path)

processed_data = raw_data
processed_data

,_id,fullname,age,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles,business_size,timestamp
0,65a713cc1dfebcf6ca173f0d,Aya Hamza,20,False,student,True,car,audi,rs q4,2020.0,5,NaN,NaN,NaN,2024-01-16T23:39:56.689Z
1,65a714291dfebcf6ca173f0e,Hicham Hamza,56,True,teacher,True,car,dacia,logan,2021.0,5,NaN,NaN,NaN,2024-01-16T23:41:29.796Z
2,65a714641dfebcf6ca173f0f,Kamilia Hamza,19,False,student,True,motorcycle,cappuccino,50cc,2019.0,2,NaN,NaN,NaN,2024-01-16T23:42:28.869Z
3,65a71c7f1dfebcf6ca173f11,Mohammed El Bakkali El Ammari,25,NaN,CEO,NaN,car,NaN,NaN,NaN,5,IT services,20.0,GE,2024-01-17T00:17:03.091Z
4,65a71f2e1dfebcf6ca173f12,Mokhtar Hamza,60,NaN,taxi owner,NaN,car,dacia,logan,NaN,3,Transport publique de voyageurs,1.0,NaN,2024-01-17T00:28:30.752Z
5,65a720ac1dfebcf6ca173f13,Said Benjelloun,40,NaN,CEO,NaN,truck,NaN,NaN,NaN,2,Transport de marchandise,5.0,TPE,2024-01-17T00:34:52.576Z
6,65a722bb1dfebcf6ca173f14,anas znagi,37,NaN,CEO,NaN,bus,NaN,NaN,NaN,20,Transport publique de voyageurs,10.0,ETI,2024-01-17T00:43:39.183Z
7,65a723fd1dfebcf6ca173f15,Laila Sabri,49,True,employe,True,car,fiat,500,2021.0,5,NaN,NaN,NaN,2024-01-17T00:49:01.008Z
8,65a724811dfebcf6ca173f16,Aya Kammah,23,False,employe,False,car,tesla,s,2022.0,5,NaN,NaN,NaN,2024-01-17T00:51:13.056Z
9,65a724ed1dfebcf6ca173f17,Ihsan El bakkali EL ammari,30,True,architect,True,car,toyota,chr,2021.0,5,NaN,NaN,NaN,2024-01-17T00:53:01.050Z

In [321]:
processed_data["vehicle_year"].fillna(value=0, inplace=True)
processed_data["number_insured_vehicles"].fillna(value=0, inplace=True)
processed_data.fillna(value='unknown', inplace=True)

# dropping this col because we do not need it at this stage of code
processed_data = processed_data.drop(['timestamp'], axis=1)

processed_data['age_group'] = pd.cut(processed_data['age'], bins=[0, 18, 35, 60, float('inf')],
                                         labels=['0-18', '19-35', '36-60', '60+'])

processed_data = processed_data.drop(['age','fullname'], axis=1)

processed_data

,_id,parent,occupation,www,vehicle_type,vehicle_make,vehicle_model,vehicle_year,number_seats,business_field,number_insured_vehicles,business_size,age_group
0,65a713cc1dfebcf6ca173f0d,False,student,True,car,audi,rs q4,2020.0,5,unknown,0.0,unknown,19-35
1,65a714291dfebcf6ca173f0e,True,teacher,True,car,dacia,logan,2021.0,5,unknown,0.0,unknown,36-60
2,65a714641dfebcf6ca173f0f,False,student,True,motorcycle,cappuccino,50cc,2019.0,2,unknown,0.0,unknown,19-35
3,65a71c7f1dfebcf6ca173f11,unknown,CEO,unknown,car,unknown,unknown,0.0,5,IT services,20.0,GE,19-35
4,65a71f2e1dfebcf6ca173f12,unknown,taxi owner,unknown,car,dacia,logan,0.0,3,Transport publique de voyageurs,1.0,unknown,36-60
5,65a720ac1dfebcf6ca173f13,unknown,CEO,unknown,truck,unknown,unknown,0.0,2,Transport de marchandise,5.0,TPE,36-60
6,65a722bb1dfebcf6ca173f14,unknown,CEO,unknown,bus,unknown,unknown,0.0,20,Transport publique de voyageurs,10.0,ETI,36-60
7,65a723fd1dfebcf6ca173f15,True,employe,True,car,fiat,500,2021.0,5,unknown,0.0,unknown,36-60
8,65a724811dfebcf6ca173f16,False,employe,False,car,tesla,s,2022.0,5,unknown,0.0,unknown,19-35
9,65a724ed1dfebcf6ca173f17,True,architect,True,car,toyota,chr,2021.0,5,unknown,0.0,unknown,19-35

In [322]:
# range
economic_cars = ['dacia', 'renault', 'fiat', 'peugeot', 'ford', 'honda', 'hyundai', 'kia', 'nissan', 'subaru', 'toyota', 'volkswagen','cappuccino']
midrange_cars = ['audi', 'bmw', 'mazda', 'mercedes', 'volvo','Nissan']
luxury_cars = ['aston martin', 'bentley', 'ferrari', 'lamborghini', 'porsche', 'rolls-royce','tesla']

# category
hybrid_cars =['Prius', 'Insight','Fusion Hybrid', 'Volt','RX Hybrid','Camry Hybrid','Ioniq Hybrid','Niro','i3','3','chr']
electric_cars =['s', 'X', 'Y', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron']
diesel_cars =['500', 'logan', 'rs q4', 'Spark EV', 'i4', 'Kona Electric', 'Soul EV', 'e-tron','50cc']

# state
vehicle_state=['vetuste','recent']

processed_data.loc[processed_data['vehicle_make'].isin(economic_cars), 'vehicle_range'] = 'Economic'
processed_data.loc[processed_data['vehicle_make'].isin(midrange_cars), 'vehicle_range'] = 'Midrange'
processed_data.loc[processed_data['vehicle_make'].isin(luxury_cars), 'vehicle_range'] = 'Luxury'
processed_data.loc[processed_data['vehicle_make'].isin(['unknown']), 'vehicle_range'] = 'unknown'

processed_data.loc[processed_data['vehicle_model'].isin(hybrid_cars), 'vehicle_category'] = 'Hybrid'
processed_data.loc[processed_data['vehicle_model'].isin(electric_cars), 'vehicle_category'] = 'Electric'
processed_data.loc[processed_data['vehicle_model'].isin(diesel_cars), 'vehicle_category'] = 'Diesel'
processed_data.loc[processed_data['vehicle_model'].isin(['unknown']), 'vehicle_category'] = 'unknown'


processed_data['vehicle_state'] = pd.cut(
    processed_data['vehicle_year'],
    bins=[1886, 2019, float('inf')],
    labels=['Vetuste', 'Recent']
)

processed_data = processed_data.drop(['vehicle_make','vehicle_model','vehicle_year'], axis=1)

processed_data

,_id,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,business_size,age_group,vehicle_range,vehicle_category,vehicle_state
0,65a713cc1dfebcf6ca173f0d,False,student,True,car,5,unknown,0.0,unknown,19-35,Midrange,Diesel,Recent
1,65a714291dfebcf6ca173f0e,True,teacher,True,car,5,unknown,0.0,unknown,36-60,Economic,Diesel,Recent
2,65a714641dfebcf6ca173f0f,False,student,True,motorcycle,2,unknown,0.0,unknown,19-35,Economic,Diesel,Vetuste
3,65a71c7f1dfebcf6ca173f11,unknown,CEO,unknown,car,5,IT services,20.0,GE,19-35,unknown,unknown,NaN
4,65a71f2e1dfebcf6ca173f12,unknown,taxi owner,unknown,car,3,Transport publique de voyageurs,1.0,unknown,36-60,Economic,Diesel,NaN
5,65a720ac1dfebcf6ca173f13,unknown,CEO,unknown,truck,2,Transport de marchandise,5.0,TPE,36-60,unknown,unknown,NaN
6,65a722bb1dfebcf6ca173f14,unknown,CEO,unknown,bus,20,Transport publique de voyageurs,10.0,ETI,36-60,unknown,unknown,NaN
7,65a723fd1dfebcf6ca173f15,True,employe,True,car,5,unknown,0.0,unknown,36-60,Economic,Diesel,Recent
8,65a724811dfebcf6ca173f16,False,employe,False,car,5,unknown,0.0,unknown,19-35,Luxury,Electric,Recent
9,65a724ed1dfebcf6ca173f17,True,architect,True,car,5,unknown,0.0,unknown,19-35,Economic,Hybrid,Recent

In [323]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

processed_data['age_group']= processed_data['age_group'].map({'0-18':1, '19-35':2, '36-60':3, '60+':4, 'unknown':0})
processed_data['occupation']= label_encoder.fit_transform(processed_data['occupation'])
processed_data['occupation'].unique()
processed_data['parent']= processed_data['parent'].map({True:1, False:0, 'unknown':2})

processed_data['www']= processed_data['www'].map({True:1, False:0, 'unknown':2})
processed_data['vehicle_type']= processed_data['vehicle_type'].map({'motorcycle':1, 'car':2,'truck':3, 'bus':4, 'boat':5, 'unknown':0})
processed_data['vehicle_range']= processed_data['vehicle_range'].map({'Economic':1, 'Midrange':2,'Luxury':3, 'unknown':0})
processed_data['vehicle_category']= processed_data['vehicle_category'].map({'Diesel':1, 'Electric':2,'Hybrid':3, 'unknown':0})
processed_data['vehicle_state']= processed_data['vehicle_state'].map({'Vetuste':1, 'Recent':2, np.NAN:0})

processed_data['business_size']= processed_data['business_size'].map({'TPE':1, 'ETI':2, 'GE':3, 'unknown':0})
processed_data['business_field']= label_encoder.fit_transform(processed_data['business_field'])
processed_data['business_field'].unique()

processed_data

,_id,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,business_size,age_group,vehicle_range,vehicle_category,vehicle_state
0,65a713cc1dfebcf6ca173f0d,0,3,1,2,5,3,0.0,0,2,2,1,2
1,65a714291dfebcf6ca173f0e,1,5,1,2,5,3,0.0,0,3,1,1,2
2,65a714641dfebcf6ca173f0f,0,3,1,1,2,3,0.0,0,2,1,1,1
3,65a71c7f1dfebcf6ca173f11,2,0,2,2,5,0,20.0,3,2,0,0,0
4,65a71f2e1dfebcf6ca173f12,2,4,2,2,3,2,1.0,0,3,1,1,0
5,65a720ac1dfebcf6ca173f13,2,0,2,3,2,1,5.0,1,3,0,0,0
6,65a722bb1dfebcf6ca173f14,2,0,2,4,20,2,10.0,2,3,0,0,0
7,65a723fd1dfebcf6ca173f15,1,2,1,2,5,3,0.0,0,3,1,1,2
8,65a724811dfebcf6ca173f16,0,2,0,2,5,3,0.0,0,2,3,2,2
9,65a724ed1dfebcf6ca173f17,1,1,1,2,5,3,0.0,0,2,1,3,2

In [328]:
from sklearn.preprocessing import StandardScaler

numeric_columns = ['parent', 'occupation', 'www', 'vehicle_type', 'number_seats',
    'business_field', 'number_insured_vehicles', 'business_size',
    'age_group', 'vehicle_range', 'vehicle_category', 'vehicle_state']

# Extract numeric data
selected_columns = processed_data.iloc[:, 1:13]

# Standardize the data
scaler = StandardScaler()
scaled_data = scaler.fit_transform(selected_columns)

processed_data.iloc[:, 1:13] = scaled_data
processed_data

,_id,parent,occupation,www,vehicle_type,number_seats,business_field,number_insured_vehicles,business_size,age_group,vehicle_range,vehicle_category,vehicle_state
0,65a713cc1dfebcf6ca173f0d,-1.324244,5.976143e-01,-0.468521,-0.267261,-0.142266,0.696526,-0.571789,-0.588348,-1.0,1.118034,0.000000,0.953998
1,65a714291dfebcf6ca173f0e,-0.120386,1.792843e+00,-0.468521,-0.267261,-0.142266,0.696526,-0.571789,-0.588348,1.0,0.000000,0.000000,0.953998
2,65a714641dfebcf6ca173f0f,-1.324244,5.976143e-01,-0.468521,-1.603567,-0.751977,0.696526,-0.571789,-0.588348,-1.0,0.000000,0.000000,-0.106000
3,65a71c7f1dfebcf6ca173f11,1.083473,-1.195229e+00,1.093216,-0.267261,-0.142266,-2.288586,2.604816,2.353394,-1.0,-1.118034,-1.118034,-1.165998
4,65a71f2e1dfebcf6ca173f12,1.083473,1.195229e+00,1.093216,-0.267261,-0.548740,-0.298511,-0.412959,-0.588348,1.0,0.000000,0.000000,-1.165998
5,65a720ac1dfebcf6ca173f13,1.083473,-1.195229e+00,1.093216,1.069045,-0.751977,-1.293548,0.222362,0.392232,1.0,-1.118034,-1.118034,-1.165998
6,65a722bb1dfebcf6ca173f14,1.083473,-1.195229e+00,1.093216,2.405351,2.906288,-0.298511,1.016514,1.372813,1.0,-1.118034,-1.118034,-1.165998
7,65a723fd1dfebcf6ca173f15,-0.120386,2.220446e-17,-0.468521,-0.267261,-0.142266,0.696526,-0.571789,-0.588348,1.0,0.000000,0.000000,0.953998
8,65a724811dfebcf6ca173f16,-1.324244,2.220446e-17,-2.030259,-0.267261,-0.142266,0.696526,-0.571789,-0.588348,-1.0,2.236068,1.118034,0.953998
9,65a724ed1dfebcf6ca173f17,-0.120386,-5.976143e-01,-0.468521,-0.267261,-0.142266,0.696526,-0.571789,-0.588348,-1.0,0.000000,2.236068,0.953998

In [329]:
processed_data.to_csv('/Users/aya/Desktop/ML/insurance-recommender/data/processed/processed_user_data.csv', index=False)