In [1]:
from src.ml.data.data_loader import load_raw_data

raw_data_path = '/Users/aya/Desktop/ML/insurance-recommender/data/raw/user_data.csv'

raw_data = load_raw_data(raw_data_path)

raw_data.head()

,_id,fullname,age,parent,occupation,vehicle_year,vehicle_age,car_make,car_model,car_type,number_insured_cars,business_size,business_field,timestamp
0,65a53cb2e8f90a3d99957e62,Hicham Hamza,56,True,teacher,2020.0,3.0,dacia,logan,NaN,NaN,NaN,NaN,2024-01-15T14:09:48.080Z
1,65a53d34e8f90a3d99957e63,Aya Hamza,20,False,student,2020.0,1.0,audi rs,Q5,NaN,NaN,NaN,NaN,2024-01-15T14:12:04.779Z
2,65a53da5e8f90a3d99957e64,Mohammed El Bakkali El Ammari,25,NaN,CEO,NaN,NaN,NaN,NaN,trucks,5.0,TPE,merchandise delivery,2024-01-15T14:13:57.349Z
3,65a53debe8f90a3d99957e65,Mokhtar Hamza,60,NaN,Taxi owner,NaN,NaN,NaN,NaN,car,1.0,Individual Owner,Taxi Services,2024-01-15T14:15:07.741Z
4,65a53e34e8f90a3d99957e66,Said Benjelloun,40,NaN,CEO,NaN,NaN,NaN,NaN,car,20.0,Large sized business,IT enterprise,2024-01-15T14:16:20.716Z